[submodule "submodules/benchpress"]
	path = submodules/benchpress
	url = https://github.com/felixleopoldo/benchpress
[submodule "submodules/causal-learn"]
	path = submodules/causal-learn
	url = https://github.com/py-why/causal-learn.git
[submodule "submodules/causalspyne-expt"]
	path = submodules/causalspyne-expt
	url = git@github.com:Alex-Markham/causalspyne-expt.git
[submodule "submodules/ngBap"]
	path = submodules/ngBap
	url = https://github.com/ysamwang/ngBap.git
[submodule "submodules/ngBap_smilesun"]
	path = submodules/ngBap_smilesun
	url = https://github.com/smilesun/ngBap
